.modal-class{
    background-color: white;
    border: 1px $color-orange solid;
    box-shadow: 3px 3px 15px black;
    position: absolute;
    height: 40vh;
    width: 40vw;
    top:30vh;
    left:30vw;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2vw;
  }

  .modal-row-header{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .modal-row-list-element{
    display: flex;
    flex-direction: row;
    
  }

  .modal-row{
    width: 25%;
  }