.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
  }
  #dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .classroom-dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-image: url('../../images/upfeathers.png');
 }