$card-height: 15%;

.student-cards-wrapper {
    height: 65vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $dashboard-max-width;
    margin: auto;
    overflow-y: auto;
}
.student-card{
    border: 1px #f98a09 solid;
    -webkit-box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 18vh;
    background: white;
    margin: 4px;
    opacity: 1;
    overflow: hidden;

    &-image-wrapper{
        display: flex;
        height: 60%;
        margin: 5%;
        width: auto;
        padding: 0 10% 0 10%;
        justify-content: space-around;
        img{
            width:50%;
            height:auto;
        }
    }
    &-name{
      text-align: center;
      line-height: 100%;
      height: 15%;
    }
    &-locked{
      border: 1px #f98a09 solid;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 15vw;
      height: 18vh;
      background: lightgray;
      margin: 4px;
      opacity: 0.7;
      overflow: hidden;
      pointer-events:none;
    }
    &-multiple-chosen{
        border: 1px #f98a09 solid;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 15vw;
        height: 18vh;
        background: lightsalmon;
        margin: 4px;
        opacity: 0.6;
        overflow: hidden;
        pointer-events:none;
    }
  }

  .card-controls{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: $card-height;
    left: 0;
    color: white;
    font-size: 28px;
    justify-content: center;
    box-sizing: border-box;
   
    .card-btn {
      width: 50%;
      text-align: center;
      font-size: 16px;
      line-height: 100%;
      margin: 1px;
      background-color: $color-orange;
      i {
        color: white;
      }
      &:hover {
        background-color: $color-btn-complementary-hover;
      }
      &:last-child {
        background-color: $color-orange;
        &:hover {
          background-color: $color-btn-complementary-hover;
        }
      }
      &-checked{
          background-color: white;
          color: $color-orange;
          font-size: 16px;
      line-height: 100%;
      }
    }
    &--disabled {
      cursor: default;
      pointer-events: none;
      .card-btn {
        &:last-child {
          background-color: transparentize($color-orange, 0.5);
          &:hover {
            background-color: transparentize($color-orange, 0.5);
          }
        }
      }
    }
  }
  

@supports (-ms-ime-align: auto) {
    .student-card-image-wrapper{
        img{
            width:inherit;
            height:auto;
        }
    }
  }
  @media screen and (max-width:1850px){
      .student-card{
        width: 18vw;
        height: 18vh;
        &-locked{
          width: 18vw;
          height: 18vh;
          }
          &-multiple-chosen{
            width: 18vw;
            height: 18vh;
        }
        }
    }

  @media screen and (max-width:1515px){
    .student-card{
      width: 14vw;
      height: 18vh;
      &-locked{
        width: 14vw;
        height: 18vh;
        }
        &-multiple-chosen{
          width: 14vw;
          height: 18vh;
      }
      }
  }