.summary-form{
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: $dashboard-max-width;
    margin: auto;
    overflow-y: auto;
}
.summary-form-item{
    width:90%;
    padding:5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.summary-content{
    display: flex;
    flex-direction: column;
}
.summary-form-buttons{
    display: flex;
    flex-direction: row;
}
.summary-form-button{
    background: $color-orange;
    margin-bottom: -20px;
    margin-right: -20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: uppercase;
    width: auto;
    min-width: 35px;
    font-size: 12px;
    font-weight: 400;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0 30px;
    margin: 5px;
    cursor: pointer;
    line-height: 35px;
    border-radius: 3px;
    text-decoration: none;
    transition: all .125s;
    &:hover{
        background-color: #ef381b;
    }
}

@media screen and (max-width:1850px){
    .summary-form{
        height: 16vh;
        font-size: 12px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        max-width: $dashboard-max-width;
        margin: auto;
        overflow-y: auto;
    }
    .summary-form-item{
        width:90%;
        padding:2px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .summary-form-button{
        background: $color-orange;
        margin-bottom: -10px;
        margin-right: -10px;
        min-width: 35px;
        font-weight: 500;
        height: 30px;
        color: #fff;
        padding: 0 30px;
        margin: 2px;
        line-height: 30px;
    }
  }