.classroom{
    &-fullwidth{
      width: 100%;
      margin: auto;
      padding: 10px 0 ;
      position: relative;
      overflow-y: auto;    
    }
    &-header{
     height: 15vh;
     height: auto;
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
     max-width: $dashboard-max-width;
     margin: auto;
     overflow-y: auto;
     .card-controls{
         width:10vw;
         height: inherit;
        .card-btn {
            padding: 5px;
            width:3vw;
            line-height: 100%;
            font-size: 24px;
            text-align: center;
        }
     }
    }
  overflow-x: hidden;
  }

.classroom-header-switch{
    &-label{
        padding:10px;
    }
    &-element{
        padding: 10px;
    }
}

.classroom-header-student-footer{
    height:4vh;
}

@media screen and (max-width:1850px){
    .classroom{
        &-fullwidth{
          padding: 8px 0 ;    
        }
        &-header{
         height: 13vh;

         .card-controls{
             width:10vw;
             height: inherit;
             .card-btn {
                font-size: 12px;}
         }
        }
      overflow-x: hidden;
      }
    .classroom-header-switch{
        &-label{
            padding:2px;
        }
        &-element{
            padding: 0px;
        }
    }
  }
