$color-orange: #f98a09;
$height-classroom-header: 60px;
$color-btn-secondary: yellow;
$color-btn-complementary: skyblue;
$color-btn-complementary-hover: #924f03;
$color-btn-primary: red;
$color-btn-primary-hover: gray;
$height-btn: 50px;
$height-pagination: 20px;
$height-cards-only: $height-classroom-header+$height-pagination;
$dashboard-max-width: 1400px;
$secondaryColor: #484848;
$secondaryColorLighter: 40%;
$color-action-complementary: #008fa2;
$color-action-complementary-hover: lighten( $color-action-complementary, 10% );



